<template>
    <nav class="navbar is-primary">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://kiwaoesterbaai.com">
                <div class="hero">Oesterbaai Interview</div>
            </a>
        </div>
    </nav>
</template>

<script>


export default {
}
</script>
